<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments::header"></header>



<form method="post" th:action="@{/user}">
    <div>
        <label>Name
            <input type="text" name="username" th:value="${username}">
        </label>
    </div>
    <div>
        <label>Email
            <input type="email" name="email" th:value="${email}">
        </label>
    </div>
    <div>
        <label>Password
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <label>Verify Password
            <input type="password" name="verify">
        </label>
    </div>

    <div>
        <input type="submit" value="add User to Jared's soul collection">
    </div>
    <p th:text="${error}"></p>

</form>

</body>
</html>